[submodule "labs/qemu/qemu"]
	path = labs/qemu/qemu
	url = https://github.com/nukelet/qemu.git
	branch = mo801
[submodule "labs/spike/spike"]
	path = labs/spike/spike
	url = https://github.com/nukelet/riscv-isa-sim.git
	branch = mo801
